@font-face {
    font-family: 'TimesNewArial';
    src: url('font/TimesNewArialVariable.woff') format('woff-variations');
    src: url('font/TimesNewArialVariable.woff2') format('woff2-variations');
    font-style: normal;
}


* { box-sizing: border-box; }

html {
background-color: black;
overflow: auto;
}

body {
  margin: 0px; padding: 0px;
  font-family: 'TimesNewArial';
  font-variation-settings: "ital" 0, "srff" 50;
}

a {
  color: yellow;
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  font-variation-settings: "ital" -50, "srff" 75;
}

h2 {
  font-size: 1.8rem;
  font-variation-settings: "ital" 0, "srff" 25;
}

h3 {
  margin-top: -10px;
  font-size: 1.2rem;
  font-variation-settings: "ital" 0, "srff" 50;
  margin: auto;
  padding-top: 3px;
  border-radius: 5px;
  text-shadow: 0px 0px 2px black;
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  margin: 0 auto;
  background-color: #6C5D34;
  text-align: center;
  background-image: radial-gradient(#6C5D34, hsla(  0, 100%, 0%, 0.85));
  box-shadow: 0px 5px 10px black;
}

.title {
  transition: font-variation-settings 1s ease-in-out;
  font-variation-settings: "ital" 0, "srff" 75;
  font-size: 2.8rem;
  line-height: 2rem;
  padding-top: 1.2rem;
}

.title:hover {
  font-variation-settings: "ital" 75, "srff" 0;
}


.radio-group {
  text-align: center;
  font-size: 1.4rem;
  color: #6C5D34;
  text-shadow: 0px 0px 5px black;
  padding-bottom: 6px;

}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  transition: font-variation-settings .5s ease-in-out;
  font-variation-settings: "ital" 0, "srff" 0;
  text-align: center;
}

label:hover {
  font-variation-settings: "ital" 75, "srff" 100;
}


.marquee {
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0 auto;
  overflow: hidden;
  background-color: #483d8b;
  color: black;
  box-shadow: 0px 0px 5px #483d8b;
  border-radius: 10px;
}







.scene {
  width: 100vw;
  height: 100vw;
  min-height:0;
  margin: auto;
  perspective: 2500px;
  margin-bottom: 10vw;
}

.cube {
  width: 100vw;
  height: 80vw;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-40vw);
  transition: transform 1s;
}


.cube.show-front  { transform: translateZ(-50vw) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-50vw) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-50vw) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-50vw) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-50vw) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-50vw) rotateX(  90deg); }




.cube__face {
  position: absolute;
  border: 0.5vw solid #000;
  line-height: normal;
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-left: 18vw;
  padding-right: 18vw;
  padding-top: 150px;
  padding-bottom: 15vw;
  margin-bottom: 10vw;
  background-image: radial-gradient(#6C5D34, hsla(  0, 100%, 0%, 0.85));

}

img {
    max-width: 100%;
    height: auto;
  }


.cube__face--front  { transform: rotateY(  0deg) translateZ(50vw); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(50vw); }
.cube__face--back   { transform: rotateY(180deg) translateZ(50vw); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(50vw); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(50vw); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(50vw); }


.active {
  z-index: 999 !important;
}




label { margin-right: 10px; }



@media only screen and (max-width: 600px) {
  .cube__face {
    padding-top: 30vw;
    padding-left: 4vw;
    padding-right: 4vw;


  }
    
      .title {
    transition: font-variation-settings 1s ease-in-out;
    font-variation-settings: "ital" 0, "srff" 75;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 1.2rem;
  }
}
